:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

[data-bs-theme=dark] {

  .follow span,
  .no-follow span {
    color: #f9f9f9
  }

  .follow:hover {

    span {
      color: #fff
    }
  }
}

[data-bs-theme=light] {

  .follow span,
  .no-follow span {
    color: #213547;
  }

  .follow {
    span {

      color: #000000 !important;
    }

    &:hover {
      span {
        color: #213547
      }
    }
  }
}

.follow {
  opacity: .8 !important;
  transition: .2s !important;

  &:hover {
    background-color: #ff000d52 !important;
    border-color: #f00 !important;
    color: #213547;



    span:nth-child(1) {
      display: none;
    }

    span:nth-child(2) {
      display: block !important;
    }
  }
}

.no-follow {
  transition: .2s;

  &:hover {
    background-color: #2986ffb6 !important;
    color: #f9f9f9 !important;
    border-color: rgb(0, 102, 255) !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}